<h1>Chit Chat</h1>
<% if signed_in? %>
	<table class="front" summary="For signed-in users">
		<tr>
			<td class="main">
				<h1 class="micropost" >Share:</h1>
				<%= render 'shared/micropost_form' %>
				<%= render 'shared/feed' %>
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<%= render 'shared/stats' %>
			</td>
		</tr>
	</table>
<% else %>
	<p> Chit Chat - A sample site to share thoughts..</p>
	<%= link_to "Sign up Now!", signup_path, :class => "signup_button round"%>
<%end%>
